fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-dotenv
langchain
langchain-google-genai
langchain-pinecone
pinecone-client
python-multipart
pypdf
email-validator
langchain-community
langchain-text-splitters
PyJWT
passlib[bcrypt]
google-auth
requests
beautifulsoup4
redis
